@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


*{


    color: #161616;
    font-family:  "Nunito Sans", sans-serif;
}
.dody-aside--maim_list li {
    padding: 10px 15px;
}
.list-main{
    padding: 10px 5px ;
}

